body {
  font-family: "Rubik";
  background-image: url(../images/green.jpg); 
  /* background-repeat: no-repeat; */
}

.container {
  max-width: 900px;
  margin: 0 auto;
  padding: 2rem 0;
}

.contact-section {
  display: flex;
  justify-content: flex-start;
  color: #f1f2f6;
}

.contact-photo {
  margin-right: 2rem;
}

.contact-photo > img {
  border-radius: 50%;
  max-height: 300px;
}

.work-experience {
  margin-top: 3rem;
}

.section-title-container {
  background: #218c74;
  padding: 0.25rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  box-shadow: 0 0 5px black;
}

.section-title-container > h2 {
  margin: 0;
}

.btn-send {
  display: block;
  margin-top: 2rem;
  margin-left: auto;
  border: none;
  padding: 0.65rem 3rem;
  background: #ffb142;
  color: #1e272e;
  box-shadow: 0 0 20px black;
}

.btn-send:hover {
  background: #f9ca24;
  cursor: pointer;
}

.content-subtitle, .content-title {
  color: #d2dae2;
}

.content-date {
  color: #d2dae2;
}

ul {
  list-style-type: circle;
  padding-left: 1rem;
}

ul > li {
  margin: 0.5rem 0;
  padding: 0.25rem;
  
  color: #d2dae2;
}

.show {
  display: block;
}

.hide {
  display: none;
}

@media screen and (max-width: 600px) {
  .contact-section {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }
}
