body {
  font-family: "Rubik";
}

.container {
  max-width: 900px;
  margin: 0 auto;
  padding: 2rem 0;
}

.contact-section {
  display: flex;
  justify-content: flex-start;
}

.contact-photo {
  margin-right: 2rem;
}

.contact-photo > img {
  border-radius: 50%;
  max-height: 300px;
}

.work-experience {
  margin-top: 3rem;
}

.section-title-container {
  background: #e7e7e7;
  padding: 0.25rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.section-title-container > h2 {
  margin: 0;
}

.btn-send {
  display: block;
  margin-top: 2rem;
  margin-left: auto;
  border: none;
  padding: 0.65rem 3rem;
  background: black;
  color: #fff;
  cursor: pointer;
}

.content-subtitle {
  color: #4269a3;
}

.content-date {
  color: #a6a6a6;
}

ul {
  list-style-type: disc;
  padding-left: 1rem;
}

ul > li {
  margin: 0.5rem 0;
  padding: 0.25rem;
}

.show {
  display: block;
}

.hide {
  display: none;
}

@media screen and (max-width: 600px) {
  .contact-section {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }
}
